<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card mb-3 mt-3">
                <div class="card-header">
                    <h3 class="float-start m-0">Practice Player</h3>
                    <span class="float-end">{{totalTimeSpentQuiz$ | async | minuteSeconds}}</span>
                </div>
                <div class="card-body py-2">
                    <ng-container *ngIf="!currentMcq && !isQuizSubmitted">
                        <ng-container *ngTemplateOutlet="startPlayerTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="currentMcq && !isQuizSubmitted">
                        <ng-container *ngTemplateOutlet="questionTemplate; context: currentMcq"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="isQuizSubmitted">
                        <ng-container *ngTemplateOutlet="endPlayerTemplate"></ng-container>
                    </ng-container>
                </div>
                <div *ngIf="currentMcq && !isQuizSubmitted" class="card-footer">
                    <ng-container *ngTemplateOutlet="playerControlTemplate" ></ng-container>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="mt-3">
                <pre class="card bg-light p-2 rounded max-360">{{logger | json}}</pre>
            </div>
        </div>
    </div>
</div>

<ng-template #startPlayerTemplate>
    <div class="text-center" >
        <button [disabled]="isFetchingQuestion" (click)="onStart()" class="btn btn-primary">
            Start Practice
        </button>
    </div>
</ng-template>

<ng-template #questionTemplate let-question="question" let-options="options">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div style="display: flow-root">
            <h5 class="float-start">{{json.title}}</h5>
            <span class="float-end">{{totalTimeSpentQuestion$ | async | minuteSeconds}}</span>
        </div>
        <div class="bg-light p-2 rounded border">
            <h6>{{question}}</h6>
            <ng-container *ngFor="let mcq of options" >
                <div class="form-check">
                    <input style="cursor: pointer" formControlName="option" class="form-check-input" type="radio" name="option" [value]="mcq.id" [id]="mcq.id">
                    <label style="cursor: pointer" class="form-check-label" [for]="mcq.id">
                        {{mcq.label}}
                    </label>
                </div>
            </ng-container>
        </div>
        <div class="text-end mt-2">
            <button [disabled]="!f.valid" type="submit" class="btn btn-dark">Submit</button>
        </div>
        <div *ngIf="isFetchingQuestion" class="overlay">
            <div class="spinner-border spinner-center" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #playerControlTemplate>
    <div class="text-end" >
        <button [disabled]="isFirstMcq || isFetchingQuestion" (click)="onPrevQuestion()" class="btn btn-primary me-2">
            < Prev
        </button>
        <button [disabled]="isLastMcq || isFetchingQuestion" (click)="onNextQuestion()" class="btn btn-primary me-2">
            Next >
        </button>
        <button [disabled]="isFetchingQuestion" (click)="onSubmitQuiz()" class="btn btn-success">
            Submit Quiz
        </button>
    </div>
</ng-template>

<ng-template #endPlayerTemplate>
    <div class="text-center" >
        <button (click)="onFinalSubmitQuiz()"  class="btn btn-success me-2">
            Submit Practice
        </button>
        <button (click)="onResetQuiz()" class="btn btn-warning">
            Reattempt Practice
        </button>
    </div>
</ng-template>